body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("table.jpg");
    background-size: cover;
}
h1{
    color: goldenrod;
    font-weight: bold;
}
p{
    color: white;
    font-weight: bold
}
#message-el{
    font-style: italic;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}

